<button>
    <slot />
</button>
<style>
  button {    
    cursor: pointer;
    background-color: rgb(2, 200, 115);
    box-shadow: rgba(2, 200, 115, 0.2) 0px 16px 28.8px 0px;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 160px;
    padding: 14.4px 32px;
    border: 0;
  }

  button:hover {
    background-color: rgb(2, 162, 93);  
  }
</style>